body {
  background-color: #081421;
  animation: bgColor 5s linear infinite alternate;
}

@keyframes bgColor {
  0% { background-color: #081421; }
  10% { background-color: #0A1828; }
  20% { background-color: #0C1C30; }
  30% { background-color: #0D2037; }
  40% { background-color: #0F243F; }
  50% { background-color: #112846; }
  60% { background-color: #132C4D; }
  70% { background-color: #153055; }
  80% { background-color: #16345C; }
  90% { background-color: #183864; }
  100% { background-color: #1A3C6B; }
}
