body {
  background-color: #081421;
  animation: bgColor 5s linear infinite alternate;
}

@keyframes bgColor {
  10% { background-color: #0E213A; }
  20% { background-color: #142E52; }
  30% { background-color: #1A3C6B; }
  40% { background-color: #204984; }
  50% { background-color: #25569C; }
  60% { background-color: #2B63B5; }
  70% { background-color: #3171CE; }
  80% { background-color: #377EE6; }
  90% { background-color: #3D8BFF; }
}
