:root
{
    --text-color: white;
    --bg-color: #3c3c3c;

    --article-text-color: var(--text-color);
    --article-bg-color: var(--bg-color);

    --aside-width: 12ch;
}

*
{
    box-sizing: border-box;
}

body
{
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-areas:
        "menu main";
    margin: 0;
    font-family: monospace;
    color: var(--text-color);
    background-color: var(--bg-color);
}

a
{
    color: inherit;
}

hr
{
    margin: 1rem 0;
    border-style: solid;
    border-radius: 1px;
    background-color: currentColor;
}

aside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: menu;
    position: sticky;
    top: 0;
    padding: 1rem;
    height: 100vh;
    width: var(--aside-width);
    text-align: center;
    color: greenyellow;
    background-color: rgba(0, 0, 0, 0.7);
}

aside > h1
{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

main
{
    grid-area: main;
}

main > h1
{
    margin: 1rem;
}

article
{
    display: grid;
    grid-auto-rows: max-content;
    gap: 1rem;
    padding: 1rem;
    color: var(--article-text-color);
    background-color: var(--article-bg-color);
    word-break: break-word;
}

article header h1,
article .description p
{
    margin: 0;
}

article .images
{
    display: flex;
    overflow: auto;
}

article .images img
{
    height: 300px;
    border: 2px solid currentColor;
    border-radius: 0.5rem;
}

article .images img ~ img
{
    margin-left: 1rem;
}

article .tags
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

article .tags span
{
    display: inline-block;
    padding: 0.5rem;
    color: var(--article-bg-color);
    background-color: var(--article-text-color);
    border-radius: 10rem;
    font-weight: 900;
}

article .links .not-available
{
    opacity: 0.6;
    cursor: not-allowed;
}

#nyan-cat
{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    height: var(--aside-width);
    animation: move-nyan-cat 5s linear infinite;
}

@keyframes move-nyan-cat
{
    from
    {
        bottom: -100%;
    }
    to
    {
        bottom: 100vh;
    }
}

@media (prefers-reduced-motion)
{
    #nyan-cat
    {
        display: none;
    }
}
