*
{
    box-sizing: border-box;
}

body
{
    font-family: monospace;
    margin: 0;
    padding: 15px;
}

a
{
    color: inherit;
}

header
{
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: inherit;
}

header > a:first-child
{
    margin-left: 0;
}

header a
{
    margin: 0 15px;
}

header .right
{
    display: flex;
    margin-left: auto;
}

#theme-toggle
{
    background-color: transparent;
    border: none;
    padding: 0;
    color: inherit;
    cursor: pointer;
    margin-left: 15px;
}

main article
{
    display: grid;
    grid-template-areas:
        "title"
        "description"
        "images"
        "tags"
        "links";
    gap: 15px;
    border-left: 5px solid black;
    padding-left: 15px;
}

main article ~ article
{
    margin-top: 30px;
}

main article h1
{
    grid-area: title;
    margin: 0;
}

main article .description
{
    grid-area: description;
}

main article .description p
{
    margin: 0;
}

main article .images
{
    grid-area: images;
    display: flex;
    overflow: auto;
}

main article .images img
{
    max-height: 300px;
    max-width: 100%;
}

main article .images img ~ img
{
    margin-left: 15px;
}

main article section.tags
{
    grid-area: tags;
}

main article section.tags span
{
    border: 1px solid white;
    padding: 5px;
    border-radius: 50px;
}

main article section.links
{
    grid-area: links;
}

main article span.link
{
    pointer-events: none;
    text-decoration: none;
    opacity: 0.7;
}

footer
{
    margin-top: 45px;
}

footer h1
{
    margin: 0;
}

html[data-theme=light] #theme-toggle .light
{
    display: none;
}

html[data-theme=dark] #theme-toggle .dark
{
    display: none;
}

html[data-theme=dark] body
{
    color: white;
    background-color: #3c3c3c;
}

html[data-theme=dark] main article
{
    border-left-color: white;
}